#initPage {
    margin: 0 auto;
    padding-bottom: 4%;
    width: 100%;
    height: 43%;
    display: flex;
    flex-flow: row wrap;
    background-color: #97CADB;
    background-image: url("/appweb/images/texturaBlanca.jpg");
    box-shadow: 0 0 8px #cccccc;
}

#init1{
    flex-grow: 1;
}

#imagenTarj{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: 300ms all;
}

.tarj {
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 200ms all;
}

.tarj>h3{
    display: none;
    transition: 200ms all;
    font-family: 'Patua One', cursive;
}

#im1{
    background-image: url("/appweb/images/prodPics/4.png");
}

#im2{
    background-image: url("/appweb/images/prodPics/6.png");
}
#im3{
    background-image: url("/appweb/images/prodPics/2.png");
}

.tarj:hover{
    transform: scale(1.1);
    opacity: 1;
}

.tarj:hover>h3{
    display: block;
    font-size: 2em;
    color: black;
    text-shadow: 3px 3px #cccccc;
    opacity: 1;
}

#initPage>h1{
    flex-basis: 100%;
    font-family: 'Russo One', sans-serif;
    text-shadow: 3px 3px 5px #cccccc;
    text-align: center;
    font-size: 5em;
    margin-top: 10px;
    padding-top: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#init1{
    animation-name: animacionInit;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
}

@keyframes animacionInit {
    0%{
        transform: translateX(-300px);
    }
    50%{
        transform: translateX(-100px);
        transform: scale(1.1);
    }
    100%{
        transform: translateX(0);
        transform: scale(1);
    }

}

#subt1{
    margin-top: 5%;
    margin-bottom: 0;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 4.3em;
    color: white;
    text-shadow: 2px 2px #cccccc;
}