input:focus{
    outline: none;
    border: 2px solid #cccccc;
}

textarea:focus{
    outline: none;
    border: 2px solid #cccccc;
}

div.contenedor2{
    display: flex;
    justify-content: center;
    margin-left: 4%;
    background-color: rgb(0,27,72);
    color: white;
    border-radius: 20px;
    padding-top: 10px;
    width: 82%;
    margin-left: 9%;
    margin-bottom: 2%;
}
div.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}

body{
    background: url(/appweb/images/fondoAD.jpg) no-repeat center center fixed;
    background-size: cover;
}

div.contacto{
    width: 500px;
    text-align: center;
    background-color: rgba(0,68,126,0.8);
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}


div.mapa{
    height: 450px;
}

#btn1{
    width: 50%;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgb(0,27,72);
    color: white;
}

div.contacto input[type=text], input[type=email]{
    width: 50%;
    border-radius: 15px;
    border: 1px solid black;
    
}

label{
    color: white;
}

label[for=correo],[for=msj],[for=asunto]{
    margin-top: 5px;
}

#msj{
    border-radius: 15px;
    border: 1px solid black;
}

#fra{
    border-radius: 0 20px 20px 0;
}

@media (max-width:1200px){
    .contenedor{
        flex-direction: column;
    }
    
    div.contacto{
        width: 600px;
        border-radius: 20px 20px 0 0;
    }
    
    #fra{
        border-radius: 0 0 20px 20px;
    }
    
    .contenedor2 p{
        text-align: center;
    }
}

@media (max-width:800px){
    .contenedor{
        flex-direction: column;
    }
    
    div.contacto{
        width: 400px;
        border-radius: 20px 20px 0 0;
    }
    
    #fra{
        width: 400px;
        border-radius: 0 0 20px 20px;
    }
    
    .contenedor2 p{
        text-align: center;
    }
    
}