input:focus{
    outline: none;
    border: 2px solid #cccccc;
}

body{
    background: url(/appweb/images/fondoAD.jpg) no-repeat center center fixed;
    background-size: cover;
}

div.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    padding: 7em 0 7em 0;
}

.login{
    background-color: rgba(0,68,126,0.8);
    text-align: center;
    padding: 2em;
    border-radius: 20px 0 0 20px;
    border-right: 2px solid rgb(0,139,190);
    color: white;
}

.imagen img{
    width: 322px;
    height: 468px;
    border-radius: 0 20px 20px 0;
    border-left: 2px solid rgb(0,139,190);
}

#imagenCaptcha{
    width: 110px;
    height: 60px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: rgb(151,202,219);
}

#botonRegist{
    width: 70%;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgb(0,27,72);
    color: white;
}

input{
    width: 70%;
    border-radius: 15px;
    border: 1px solid black;
}