*{
    padding: 0;
    margin: 0;
}

/* ESTILOS HEADER NAV */

.imgNav{
    margin-left: 10%;
}

#navbarNav{
    margin-left: 10%;
}

#carritoBtn{
    margin-left: 48%;
}

#botonLogin{
    margin-left: 2%;
}

@media (max-width: 1486px) {
    #carritoBtn{
        margin-left: 40%;
    }
}

@media (max-width: 1320px) {
    #carritoBtn{
        margin-left: 32%;
    }
}

@media (max-width: 1166px) {
    #carritoBtn{
        margin-left: 18%;
    }
}

@media (max-width: 1166px) {
    #carritoBtn{
        margin-left: 35%;
    }
}

/* FIN ESTILOS HEADER NAV */

/* Carrusel */
.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* The dots/bullets/indicators */
.dot {
    display: none;
    transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.slideshow-container img {vertical-align: middle;}
/* Carrusel */

/* Footer */
.ico {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    color: white;
    font-size: 200%;
    font-family: FontAwesome;
}

.footer1 {
    text-align: center;
    /*/border-bottom: 1px solid darkgrey;*/
    widows: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-weight: bold;
}

.descrip {
    color: white;
}

.redes {
    width: 30px;
    height: 30px;
}
/* Footer */

